*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 5%;
}
img{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;
}
iframe{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;
    margin-bottom: 5%;
}